.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.95);
  color: #FFF;
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid #313131;
  color: #313131;
}

#btn-p {
  margin: 0;
}

.close-modal-btn:hover {
  cursor: pointer;
}

.modal h2 {
  font-size: 30px;
  margin: 20px 0 5px;
}

.modal p {
  font-size: 20px;
  margin-bottom: 5px;
}

.modal span {
  border-bottom: 3px solid #02b1c8;
}

.residents-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.modal .card {
  width: 100px;
  margin: 15px;
}

.modal .card:hover {
  pointer-events: none;
}

.modal .card p {
  font-size: 15px;
}

.modal .card .img-container {
  width: normal;
}

@media (min-width: 720px) {
  .modal {
    padding: 50px 0 20px;
  }

  .modal .card {
    width: 200px;
    margin: 15px;
  }
}