footer {
  height: 250px;
  padding-top: 0;
}

.footer-img {
  display: flex;
  height: 100%;
  background-image: url('../../assets/rick-and-morty.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dev-details {
  width: 100%;
  height: 60px;
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  align-self: flex-end;
}

@media (min-width: 700px) {
  footer {
    padding-top: 125px;    
  }
}